In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
df = pd.read_excel('/Users/boscoll/Downloads/Book1.xlsx', sheet_name='Sheet1')
# df = pd.read_excel('/Users/boscoll/Downloads/Book1.xlsx', sheet_name='Sheet2')

In [107]:
vehicle_cols = df.columns[1:5]   
ribo_cols = df.columns[5:9]

In [108]:
df

,Day,Vehicle,Unnamed: 2,Unnamed: 3,Unnamed: 4,Ribo,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,60,93.59,98.52,83.83,71.66,68.07,88.70,103.45,77.87
1,63,116.87,103.45,108.88,84.23,103.92,108.88,126.80,98.52
2,67,143.69,109.29,152.27,128.08,120.64,128.59,126.80,130.92
3,70,157.37,116.58,187.29,148.07,120.80,130.54,113.10,124.79
4,74,171.58,129.41,212.06,172.55,124.69,134.85,100.16,98.20
5,77,196.94,154.42,248.47,193.69,100.37,109.21,86.78,80.35
6,81,336.91,175.62,321.56,242.75,107.44,110.97,NaN,96.88
7,84,372.53,230.72,572.15,291.82,105.47,120.80,NaN,105.71

In [110]:
vehicle_long = df.melt(id_vars=['Day'], 
                       value_vars=vehicle_cols, 
                       var_name='Mouse', 
                       value_name='TumorVolume')
vehicle_long['Treatment'] = 'Vehicle'

ribo_long = df.melt(id_vars=['Day'], 
                    value_vars=ribo_cols, 
                    var_name='Mouse', 
                    value_name='TumorVolume')
ribo_long['Treatment'] = 'Ribo'

In [112]:
df_long = pd.concat([vehicle_long, ribo_long], ignore_index=True)

In [113]:
df_long

    Day       Mouse  TumorVolume Treatment
0    60     Vehicle        93.59   Vehicle
1    63     Vehicle       116.87   Vehicle
2    67     Vehicle       143.69   Vehicle
3    70     Vehicle       157.37   Vehicle
4    74     Vehicle       171.58   Vehicle
..  ...         ...          ...       ...
59   70  Unnamed: 8       124.79      Ribo
60   74  Unnamed: 8        98.20      Ribo
61   77  Unnamed: 8        80.35      Ribo
62   81  Unnamed: 8        96.88      Ribo
63   84  Unnamed: 8       105.71      Ribo

[64 rows x 4 columns]

In [116]:
df_long['Mouse'] = df_long.groupby('Treatment').cumcount() % 4 + 1
df_long['Mouse'] = df_long['Treatment'] + "_" + df_long['Mouse'].astype(str)
df_long = df_long.dropna()

In [118]:
from statsmodels.formula.api import mixedlm

model = mixedlm("TumorVolume ~ C(Treatment) + C(Day) + C(Treatment):C(Day)", 
                df_long, 
                groups=df_long["Mouse"])  
result = model.fit()
print(result.summary())

                       Mixed Linear Model Regression Results
====================================================================================
Model:                     MixedLM          Dependent Variable:          TumorVolume
No. Observations:          62               Method:                      REML
No. Groups:                8                Scale:                       2146.6462
Min. group size:           7                Log-Likelihood:              -252.5221
Max. group size:           8                Converged:                   Yes
Mean group size:           7.8
------------------------------------------------------------------------------------
                                      Coef.   Std.Err.   z    P>|z|  [0.025   0.975]
------------------------------------------------------------------------------------
Intercept                              84.523   37.710  2.241 0.025   10.613 158.432
C(Treatment)[T.Vehicle]                 2.377   61.975  0.038 0.969 -119.092 123.847
C(Day)[T.63]                           25.007   67.218  0.372 0.710 -106.737 156.752
C(Day)[T.67]                           42.215   64.353  0.656 0.512  -83.915 168.345
C(Day)[T.70]                           37.785   58.419  0.647 0.518  -76.715 152.285
C(Day)[T.74]                           29.952   32.762  0.914 0.361  -34.259  94.164
C(Day)[T.77]                            9.655   67.218  0.144 0.886 -122.089 141.399
C(Day)[T.81]                           20.574   65.729  0.313 0.754 -108.251 149.400
C(Day)[T.84]                           26.137   59.931  0.436 0.663  -91.325 143.600
C(Treatment)[T.Vehicle]:C(Day)[T.63]   -8.550   86.337 -0.099 0.921 -177.767 160.667
C(Treatment)[T.Vehicle]:C(Day)[T.67]    4.218   95.426  0.044 0.965 -182.814 191.249
C(Treatment)[T.Vehicle]:C(Day)[T.70]   27.643   77.998  0.354 0.723 -125.232 180.517
C(Treatment)[T.Vehicle]:C(Day)[T.74]   54.548   46.332  1.177 0.239  -36.261 145.356
C(Treatment)[T.Vehicle]:C(Day)[T.77]  101.825   86.337  1.179 0.238  -67.392 271.042
C(Treatment)[T.Vehicle]:C(Day)[T.81]  161.736   96.359  1.678 0.093  -27.124 350.596
C(Treatment)[T.Vehicle]:C(Day)[T.84]  253.768   79.137  3.207 0.001   98.662 408.873
Group Var                            2146.646
====================================================================================

/Users/boscoll/miniconda3/envs/data_analysis/lib/python3.11/site-packages/statsmodels/regression/mixed_linear_model.py:2261: ConvergenceWarning: The Hessian matrix at the estimated parameter values is not positive definite.
  warnings.warn(msg, ConvergenceWarning)

In [133]:
## which version of statsmodels
import statsmodels
statsmodels.__version__

'0.14.5'

In [135]:
np.log2(0.2)

-2.321928094887362

In [124]:
from statsmodels.formula.api import mixedlm

model = mixedlm("TumorVolume ~ C(Treatment) + Day + C(Treatment):Day", 
                df_long, 
                groups=df_long["Mouse"])  
result = model.fit()
print(result.summary())

                   Mixed Linear Model Regression Results
============================================================================
Model:                   MixedLM       Dependent Variable:       TumorVolume
No. Observations:        62            Method:                   REML
No. Groups:              8             Scale:                    2276.0118
Min. group size:         7             Log-Likelihood:           -317.4832
Max. group size:         8             Converged:                Yes
Mean group size:         7.8
----------------------------------------------------------------------------
                             Coef.   Std.Err.   z    P>|z|  [0.025   0.975]
----------------------------------------------------------------------------
Intercept                     93.363   92.970  1.004 0.315  -88.855  275.582
C(Treatment)[T.Vehicle]     -646.908  115.697 -5.591 0.000 -873.669 -420.147
Day                            0.212    1.292  0.164 0.870   -2.321    2.745
C(Treatment)[T.Vehicle]:Day   10.049    1.607  6.253 0.000    6.899   13.198
Group Var                      2.328   10.383
============================================================================

/Users/boscoll/miniconda3/envs/data_analysis/lib/python3.11/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/boscoll/miniconda3/envs/data_analysis/lib/python3.11/site-packages/statsmodels/regression/mixed_linear_model.py:2200: ConvergenceWarning: Retrying MixedLM optimization with lbfgs
  warnings.warn(

In [125]:
from statsmodels.formula.api import mixedlm

model = mixedlm("TumorVolume ~ C(Treatment) + Day", 
                df_long, 
                groups=df_long["Mouse"])  
result = model.fit()
print(result.summary())

                 Mixed Linear Model Regression Results
========================================================================
Model:                 MixedLM      Dependent Variable:      TumorVolume
No. Observations:      62           Method:                  REML
No. Groups:            8            Scale:                   3532.2160
Min. group size:       7            Log-Likelihood:          -334.9128
Max. group size:       8            Converged:               Yes
Mean group size:       7.8
------------------------------------------------------------------------
                         Coef.   Std.Err.   z    P>|z|  [0.025   0.975]
------------------------------------------------------------------------
Intercept               -257.388   79.337 -3.244 0.001 -412.887 -101.890
C(Treatment)[T.Vehicle]   73.423   23.701  3.098 0.002   26.970  119.876
Day                        5.127    1.086  4.719 0.000    2.998    7.257
Group Var                665.540   20.659
========================================================================

/Users/boscoll/miniconda3/envs/data_analysis/lib/python3.11/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/Users/boscoll/miniconda3/envs/data_analysis/lib/python3.11/site-packages/statsmodels/regression/mixed_linear_model.py:2200: ConvergenceWarning: Retrying MixedLM optimization with lbfgs
  warnings.warn(

In [127]:
from scipy import stats


m1 = mixedlm("TumorVolume ~ C(Treatment) + Day", df_long, groups=df_long["Mouse"])
res1 = m1.fit(method="lbfgs")

m2 = mixedlm("TumorVolume ~ C(Treatment) * Day", df_long, groups=df_long["Mouse"])
res2 = m2.fit(method="lbfgs")

LR = 2 * (res2.llf - res1.llf)        
df_diff = res2.df_modelwc - res1.df_modelwc
pval = stats.chi2.sf(LR, df_diff)

print(f"Likelihood Ratio Test: χ² = {LR:.3f}, df = {df_diff}, p = {pval:.4g}")

Likelihood Ratio Test: χ² = 34.405, df = 1, p = 4.475e-09

/Users/boscoll/miniconda3/envs/data_analysis/lib/python3.11/site-packages/statsmodels/regression/mixed_linear_model.py:1634: UserWarning: Random effects covariance is singular
  warnings.warn(msg)
/Users/boscoll/miniconda3/envs/data_analysis/lib/python3.11/site-packages/statsmodels/regression/mixed_linear_model.py:1634: UserWarning: Random effects covariance is singular
  warnings.warn(msg)
/Users/boscoll/miniconda3/envs/data_analysis/lib/python3.11/site-packages/statsmodels/regression/mixed_linear_model.py:2237: ConvergenceWarning: The MLE may be on the boundary of the parameter space.
  warnings.warn(msg, ConvergenceWarning)